html {
	margin: 0;
	padding: 0;
	background: #91197D;
}

body {
	height: 100%;
	width: 60%;
	margin: 0 auto;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

#map {
	height: 400px;
	width: 100%;
}

#container {
	background: #fff;
	padding: 30px;
	margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
}

h1 {
	color: #fff;
}
